body {
	background: #ccc;
}
#image_overlay {
	margin-top: -5rem;
	height: 5rem;
	background: black;
	opacity: .7;
	color: white;
}
#image_overlay p {
	line-height: 2;
	font-size: 2rem;
}
.row-light {
	background: #fff;
}